// Обнуление
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// Переменные
$pink-color: #FF70D9;
$yellow-color: #EBFF00;
$blue-color: #304571;
$black-color: #000000;
$white-color: #FFFFFF;
$yellow-shadow-color: rgba(235, 255, 0, 0.6);

$bg-color: #0D1E48;

$font-family-text: 'Lato', sans-serif;
$font-weight-bold: 700;
$font-weight-extraBold: 900;

$maxWidth: 1248px;
$maxWidthContainer: 1118px;

$tablet: 768px;
$mobile: 360px;

.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 15px;
}

// Tablet
@media (max-width: $tablet) {
  .container {
    max-width: 710px;
  }
}

// Mobile
@media (max-width: $mobile) {
  .container {
    max-width: 320px;
  }
}

.App {
  background-color: $bg-color;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}

.title {
  color: $yellow-color;
  font-family: $font-family-text;
  font-weight: $font-weight-extraBold;
  font-size: 72px;
}

.subtitle {
  color: $white-color;
  font-family: $font-family-text;
  font-weight: $font-weight-bold;
  font-size: 32px;
}

// Header
.header {
  background-color: $black-color;
  z-index: 5;
  
  &__container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    width: 104px;
    height: 36px;
    z-index: 5;
  }
  
  @media (max-width: $tablet) {
    &__logo {
      width: 72px;
      height: 24px;
    }
  }

  @media (max-width: $mobile) {
    &:target .menu__body {
      left: 0;
    }
    &:target .icon-menu {
      display: none;
    }
    &:target .close-icon-menu {
      display: flex;
    }
  }
}

// Menu
.menu {
  &__list {
    display: flex;
  }

  &__item:not(:first-child) {
    margin-left: 55px;
  }

  &__link {
    color: $white-color;
    font-family: $font-family-text;
    font-weight: $font-weight-bold;
    font-size: 18px;
  }

  &__link:hover {
    background: linear-gradient(62deg, #EBFF00, #FF70D9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease 0s;
  }

  &__icon {
      fill: $white-color;
  }

  &__icon:hover {
    fill: url(#paint0_linear_16_42);
    fill-opacity: 0.6;
    transition: all 0.3s ease 0s;
  }

  @media (max-width: $mobile) {
    &__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $black-color;
      transition: left 0.3s ease 0s;
      overflow: auto;
    }

    &__list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 30px;
    }

    &__item:not(:first-child) {
      margin-left: 0;
      margin-top: 30px;
    }

    &__link {
      font-size: 24px;
    }
  }

}

// Burger-menu
.icon-menu {
  position: relative;
  display: none;
  flex: 0 0 30px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  
  & span {
    height: 2px;
    background-color: $white-color;
  }

  &::before,
  &::after {
    content: '';
    background-color: $white-color;
    height: 2px;
  }

  @media (max-width: $mobile) {
    display: flex;
  }
}

.close-icon-menu {
  position: relative;
  display: none;
  flex: 0 0 30px;
  height: 21px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    background-color: $white-color;
    height: 2px;
  }

  &::before {
    transform: translateY(10px) rotate(45deg);
  }

  &::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}

// Main banner
.discover {
  padding: 60px 0 65px 0;
  background-image: url('assets/img/bg_space_banner_min.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 490px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    flex: 0 1 64%;
  }

  &__image {
    flex: 0 1 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -4%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: $tablet) {
    height: 420px;
    padding: 26px 0 58px 0;

    &__content {
      flex: 0 1 61%;
    }

    &__image {
      flex: 0 1 44%;
      overflow: hidden;
      margin-right: -19%;

      img {
        object-fit: cover;
      }
    }
  }

  @media (max-width: $mobile) {
    height: 450px;
    padding: 0;

    &__container {
      flex-direction: column-reverse;
    }

    &__content {
      margin: 30px 7px 44px 7px;
    }

    &__banner-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__image {
      flex: 0 1 44%;
      overflow: hidden;
      margin: -36% 0 0 0;
      z-index: 1;
  }
}
}

.banner-text {
  &__title {
    font-size: 72px;
    font-weight: $font-weight-extraBold;
    line-height: 1;
    color: $white-color;

    &--pink span {
      color: $pink-color;
    }
  }

  &__subtitle {
    font-size: 32px;
    font-weight: $font-weight-extraBold;
    color: $white-color;
    margin: 22px 0;

    &--yellow span {
      color: $yellow-color;
    }
  }

  @media (max-width: $tablet) {
    &__title {
      font-size: 48px;
    }

    &__subtitle {
      font-size: 22px;
    }
  }

  @media (max-width: $mobile) {
    &__title {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 16px;
      margin: 17px 0;
    }
  }
}

// Offers
.offers__title {
  font-size: 32px;
  font-weight: $font-weight-extraBold;
  line-height: 1;
  color: $white-color;
  margin: 0 0 40px 0;

  @media (max-width: $tablet) {
    font-size: 24px;
    margin: 0 0 30px 0;
  }
}

.offers {
  padding: 60px 0;
  width: 100%;

  &__content {
    padding: 0 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }

  &__block-text {
    flex: 0 1 48%;
  }

  @media (max-width: $tablet) {
    padding: 55px 0;

    &__content {
      padding: 0 0 55px 0;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__block-text {
      padding: 105px 30px 20px 25px;
      flex: 0 1 calc(50% - 15px);
      &.block-text--big {
        flex: 0 1 calc(50% - 15px);
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 50px 0;

    &__container {
      padding: 0;
    }

    &__content {
      padding: 0 0 50px 0;
    }

    &__block-text {
      flex: 1 1 calc(50% - 15px);
      &.block-text--big {
        flex: 1 1 calc(50% - 15px);
      }
    }
  }
}

.block-text {
  padding: 50px 70px 35px 35px;
  
  &__title {
    font-size: 46px;
    font-weight: $font-weight-extraBold;
    line-height: 1;
    color: $white-color;

    &--big {
      font-size: 74px;
    }

    &--space {
      max-width: 290px;
    }

    &--dream {
      max-width: 230px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: $font-weight-extraBold;
    color: $white-color;
    margin: 22px 0;

    &--majestic {
      display: none;
    }

    &--big {
      font-size: 26px;
    }
  }

  &--big {
    & h2 {
      max-width: 635px;
    }
    padding: 35px 0 35px 35px;
    flex: 0 1 100%;
  }

  &--1 {
    background-image: url('assets/img/bg_space_1_min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--2 {
    background-image: url('assets/img/bg_space_2_min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--3 {
    background-image: url('assets/img/bg_space_3_min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &--4 {
    background-image: url('assets/img/bg_space_4_min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet) {
    padding: 105px 30px 20px 25px;
    flex: 1 1 calc(50% - 15px);
    &.block-text--big {
      flex: 1 1 calc(50% - 15px);
    }
    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 16px;
      &--majestic {
        display: block;
      }
      &--space {
        display: none;
      }
    }

    &__title--big {
      font-size: 40px;
    }
    &__subtitle--big {
      font-size: 16px;
      & span {
        display: none;
      }
    }
  }

  @media (max-width: $mobile) {
    padding: 100px 30px 30px 25px;
  }
}

// Button
.button {
  display: inline-block;
  font-size: 22px;
  font-weight: $font-weight-bold;
  padding: 14px 40px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
  &--yellow {
    color: $black-color;
    background-color: $yellow-color;
    &:hover {
      background-color: $yellow-shadow-color;
    }
  }

  &--outline {
    background-color: transparent;
    color: $yellow-color;
    border: 2px solid $yellow-color;
    &:hover {
      color: $yellow-shadow-color;
      border: 2px solid $yellow-shadow-color;
    }
    @media (max-width: $tablet) {
      font-size: 16px;
      padding: 7px 40px;
    }
  }

  @media (max-width: $mobile) {
    font-size: 16px;
    padding: 7px 40px;
  }
}
  